<p id="notice"><%= notice %></p>

<p>
  <strong>T1:</strong>
  <%= @test2.t1 %>
</p>

<p>
  <strong>T2:</strong>
  <%= @test2.t2 %>
</p>

<%= link_to 'Edit', edit_test2_path(@test2) %> |
<%= link_to 'Back', test2s_path %>
